body {
    background-color: rgb(253,250,212);
    color:rgb(85, 85, 85);
    font-family:Brush Script MT,cursive;
    margin:0px;
    padding:0px;    
  }

/* viewport height: 833 pt calcule */
nav > img{
  height:18vh;
  width:auto;
}

#intro > img{
  height:111vh;
  width:auto;
}