body {
    /* background-color: rgb(253,250,212); */
    background-color: white;
    color:rgb(85, 85, 85);
    font-family:Comic Sans MS;
    margin:0px;
    padding:0px;    
  }

/* viewport height: 833 pt calcule laptop */

#intro > img{
  height:111vh;
  width:auto;
}

/* nav container setup */
.nav_container{
  width:50%;
  padding:0px;
  height:14vh;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: space-between;
  position: static;
  background-color: white;
  top:0;
  z-index: 100;
  border-bottom: 1px solid darkgrey;
}
/*culoare logo: #b98954*/
/*sau #af6614*/
.nav_container .logo{
  height:14vh;
  width:fit-content;
  align-self: center;
  cursor: pointer;
}
.nav_container .logo img{
  height:100%;
}
.nav_container ul{
  height:50%;
  padding-left: 40px;
  list-style: none;
  display: flex;
  align-self:center;
  margin-right: 20px;
}
.nav_container ul li{
  position: relative;
}
.nav_container ul li a{
  display: block;
  padding:0 40px;
  height:100%;
  line-height:7vh;
  cursor:pointer;
  text-decoration: none;
  color:black;
  white-space: nowrap;
  text-transform: uppercase;
}
.nav_container ul li a:hover{
  color:#b98954;
}

/* dropdown styling */
.nav_container ul li ul{
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  left:-40px;
}
.nav_container ul li ul li a{
  white-space: nowrap;
  background-color: rgb(54, 54, 52);
  color:white;
  border:1px solid black;
}
ul li:hover>ul{
  visibility: visible;
  opacity: 1;
  display: block;
}

/*emojis la navigation*/

/* ul.menu li a:nth-child(1)::before{
  content: url(../images/home.png);
  transform: scale(.07);
  width:100px;
  height:100px;
  display:block;
} */