body {
    /* background-color: rgb(253,250,212); */
    background-color: white;
    color:rgb(85, 85, 85);
    font-family:Comic Sans MS;
    margin:0px;
    padding:0px;    
  }

/* viewport height: 833 pt calcule */

#intro > img{
  height:111vh;
  width:auto;
}

/* nav container setup */
.nav_container{
  width:50%;
  padding:0px;
  height:14vh;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  top:0;
  z-index: 100;
  border-bottom: 1px solid darkgrey;
}
.nav_container .logo{
  height:14vh;
  width:fit-content;
  align-self: center;
  cursor: pointer;
}
.nav_container .logo img{
  height:100%;
}
.nav_container ul{
  height:50%;
  padding-left: 40px;
  list-style: none;
  display: flex;
  align-self:center;
  margin-right: 20px;
}
.nav_container ul li{
  position: relative;
}
.nav_container ul li a{
  display: block;
  padding:0 40px;
  height:100%;
  line-height:7vh;
  cursor:pointer;
  text-decoration: none;
  color:black;
  background-color: aliceblue;
  white-space: nowrap;
}
.nav_container ul li a:hover{
  background-color: rgb(217, 237, 255);
  color: black;
}

/* dropdown styling */
.nav_container ul li ul{
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  left:-40px;
}
.nav_container ul li ul li a{
  white-space: nowrap;
}
ul li:hover>ul{
  visibility: visible;
  opacity: 1;
  display: block;
}