body {
  /* background-color: rgb(253,250,212); */
  background-color: white;
  color:rgb(85, 85, 85);
  font-family:Comic Sans MS;
  margin:0px;
  padding:0px;    
}

/* viewport height: 833 pt calcule laptop */

/* nav container setup */
.nav_container{
margin-top:2px;
width:100%;
height:14vh;
padding: 0;
margin-left: auto;
margin-right: auto;
display:flex;
justify-content: space-between;
position: static;
background-color: white;
top:0;
z-index: 100;
border-bottom: 1px solid darkgrey;
}
/*culoare logo: #b98954*/
/*sau #af6614*/
.nav_container .logo{
height:14vh;
width:fit-content;
align-self: center;
cursor: pointer;
margin-left: 20px;
}
.nav_container .logo img{
height:100%;
}
.nav_container ul{
height:50%;
padding-left: 40px;
list-style: none;
display: flex;
align-self:center;
margin-right: 20px;
}
.nav_container ul li{
position: relative;
}
.nav_container ul li a{
display: block;
height:100%;
line-height:7vh;
cursor:pointer;
text-decoration: none;
color:black;
white-space: nowrap;
text-transform: uppercase;
font-size: 17px;
font-weight: bold;
}
.nav_container ul li a div {
  display: block;
  position: relative;
  transition: transform 0.3s, color 0.3s;
  padding: 0 40px;
}
.nav_container ul li a div:hover{
  transform: scale(1.1);
}
.nav_container ul li a:hover{
color:#b98954;
}

/* dropdown styling */
.nav_container ul li ul{
visibility: hidden;
opacity: 0;
display: none;
position: absolute;
left:-40px;
}
.nav_container ul li ul li a{
white-space: nowrap;
background-color:#b98954;
color:white;
border:1px solid black;
border-bottom: none;
}
.nav_container ul li ul li:last-child{
border-bottom:1px solid black;
}
.nav_container ul li ul li a:hover{
/* background-color: rgb(73, 73, 70); */
background-color: #dfaa71;
color:white;
}
ul li:hover>ul{
visibility: visible;
opacity: 1;
display: block;
}

/*emojis la navigation*/

/* ul.menu li a:nth-child(1)::before{
content: url(../images/home.png);
transform: scale(.07);
width:100px;
height:100px;
display:block;
} */

.main{
width:39%;
padding:0px;
margin-left: auto;
margin-right: auto;
display:flex;
flex-direction: column;
justify-content: space-between;
position: static;
background-color: white;
/* border: 1px solid black; */
}
.main > #start > h1{
color:black;
font-size: 50px;
padding:0;
font-weight: bold;
text-align: center;
font-family: Gil Sans;
}
.main h3{
font-size: 20px;
font-style: italic;
text-align: center;
border-bottom: 1px solid darkgrey;
}
/* 111vh */
.main > #intro > img{ 
margin-top:20px;
margin-bottom: 20px;
}
.responsive-image{
  width:100%;
  height:auto;
}
.main #intro h4{
display: block;
color: black;
font-size:18px;
font-weight: normal;
/* padding: 10px 0; */
}
#intro :nth-child(2){
border-top:1px solid darkgrey;
padding-top: 10px;
}
#intro :nth-child(3){
border-bottom:1px solid darkgrey;
padding-bottom: 10px;
}
.main h2{
color:black;
font-size: 30px;
}

/*tabel ingrediente*/

.border1, .border1 th, .border1 td
{
    border: 1px solid black;
}
#ingredients table{
border-spacing: 0;
border-collapse:collapse;
width:100%;
border:1px solid darkgrey;
}
#ingredients table th{
text-align: left;
font-size: 23px;
padding:8px;
background-color: #b98954;
color: white;
}
/*sa folosesc culoarea asta la taiat color:rgb(85, 85, 85);*/
#responsive-table{
overflow-x: auto;
}
#ingredients table td{
color:black;
padding:8px;
}
#ingredients table tr:nth-child(even){
background-color: lightgrey;
}
#ingredients table tr:hover{
/* background-color: rgb(170, 170, 170); */
background-color: darkgrey;
}

#ingredients table p{
display:inline-block;
color:black;
font-size: 17px;
text-align: center;
}
#ingredients table p::before{
content:"🕑";
}
#ingredients table #serv::before{
content:"🍴";
}

/* preparation steps */

#steps ol {
list-style: none;
padding-left: 0;
margin: 0;
counter-reset: list-item;
}

#steps ol li {
position: relative;
padding: 10px 0;
padding-left: 60px;
font-size: 18px;
line-height: 1.5;
counter-increment: list-item;
}

#steps ol li::before {
content: counter(list-item);
position: absolute;
left:0;
top: 50%;
transform: translateY(-50%); /*il mut pe axa y mai sus*/
width: 30px;
height: 30px;
background-color:#b98954; 
color: white;
font-weight: bold;
font-size: 18px;
line-height: 30px; /*centreaza*/
text-align: center;
border-radius: 50%; /* il fac cerc */
}
#steps ol li + li {
border-top: 1px solid darkgrey; 
}

/*video styling*/
#video p{
  font-size: 18px;
  border-top: 1px solid darkgrey;
  /* border-bottom: 1px solid darkgrey; */
}
.video-container{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.responsive-iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* galery styling */

.galery-container{
  display:grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 49% 49%;
  grid-template-areas: 
    'a b'
    'a b'
    'c d'
    'c d';
  column-gap: 15px;
  row-gap: 5px;
  width:100%;
}
.image1{
  grid-area:a;
}
.image1 img{
  height: 97%;
}
.image2{
  grid-area:b;
}
.image3{
  grid-area:c;
}
.image4{
  grid-area:d;
}
#galery h2{
  border-bottom:1px solid darkgrey;
  padding-bottom: 10px;
}

/*footer styling*/

.footer{
background-color: #b98954;
/*var cu grid*/

display:grid;
grid-template-rows:100%;
grid-template-columns: 50% 50%;

/*var cu flex*/

/* width: 100%;
padding: 0px;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap:wrap;
flex-direction: column; */
border-top: 1px solid darkgrey;
border-bottom: 1px solid darkgrey;
margin-top:30px;
}
.footer .item-1{
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 2;
}
.footer .item-2{
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 2;
grid-column-end: 3;
}

.footer .item-1 .logo{
display: inline-block;
height:20vh;
cursor: pointer;
margin-left:10%;
margin-top:20px;
}
.logo img{
height:100%;
transition: transform 0.3s;
}
.logo img:hover{
  transform: scale(1.1);
}
.footer .item-1 p{
display:block;
width:65%;
margin-left: 10%;
color:rgb(255, 248, 238);
margin-bottom:20px;
}
.footer .item-2 h2, .footer .item-2 h3{
display: block;
color:rgb(255, 248, 238);
}

/*social media links*/
.sm-links {
display: flex;
gap: 10px;
justify-content: flex-start;
align-items: center;
padding: 10px;
}
.sm-links a {
  cursor: pointer;
  transition: transform 0.7s ease-in-out 0.2s, opacity 0.3s ease 0.9s;
}
.sm-links a:hover {
  transform: scale(1.3) rotate(360deg); 
  opacity: 0.7; 
  animation: pulse 0.8s infinite alternate;
  animation-delay: 1s;
}
.sm-links a img {
width: 40px; 
height: 40px;
}

aside{
text-align: center;
}
aside a{
text-decoration: none;
cursor:pointer;
color:black;
}

.animation-box{
  /* margin-top:30px;
  margin-bottom: 30px;
  margin-left:auto;
  margin-right: auto; */
  margin: 30px auto;
  width: 100px;
  height: 100px;
  animation: animatie 3s infinite;
  border-radius: 10px;
  background-color: #b98954;
  display: flex;
  justify-content: center;
  align-items: center;
}

